{% extends 'layout.html' %}
{% block title %}Listings{% endblock %}
{% block content %}
<!-- This is to generate unique image ids -->
{% set alphabet_list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}
{% for listing in cursor %}
{% set index = loop.index %}
{% set id = "a" + listing['_id']|string %}
<!-- Breaking up entries into variables to display -->
{% set idhref = "#" + id %}
{% set title = listing['title'] %}
{% set description = listing['description'] %}
{% set address = listing['address'] %}
{% set dateAndTime = listing['dateAndTime'] %}
{% set imageList = listing['images'] %}
{% set link = listing['link'] %}
<!-- Making buttons with title -->
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="{{idhref}}" role="button" aria-expanded="false" aria-controls="{{id}}">
    {{title}}
  </a>
</p>

<div class="collapse" id="{{id}}">
<!-- Filling contents of button with information -->
  <div class="card card-body">
    <p>{{address}}</p>
    {% for date in dateAndTime %}
    <p>{{date}}</p>
    {% endfor %}
<!-- Description autofills with "Description: if left empty and I don't want that to print so:" -->
    {% if "Description:" not in description %}
    <p>{{description}}</p>
    {% endif %}
    <a href="{{link}}">Original listing</a>

<div class="container">
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
<!-- Unique ID to pair thumbnail with modal -->
    {% for image in imageList %}
    {% set image_index = loop.index %}
    {% set image_id = alphabet_list[index] ~ image_index %}
<!-- Image gallery -->
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#{{image_id}}" data-bs-toggle="modal" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{image}}" alt="">
      </a>
    </div>
<!-- Modal popup with full size image if thumbnail is clicked -->
    <div class="modal fade" id="{{image_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{image}}">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

  </div>
</div>


{% endfor %}
{% endblock %}